<nz-layout>
  <nz-header class="header">
    <nz-row>
      <nz-col nzSpan="12">
        <h2>
          Angular - SPA Oauth2 / Oidc Showcase
        </h2>
      </nz-col>
      <nz-col nzSpan="12" class="login_info">
        not logged in
        <nz-divider nzType="vertical"></nz-divider>
        <nz-avatar nzIcon="user" [ngStyle]="{ 'background-color': '#00a2ae' }"></nz-avatar>

        <!-- <nz-button-group>
          <button nz-button nzType="primary">Login</button>
          <button nz-button nzType="primary" disabled>Logout</button>
          <button nz-button nzType="primary">Refresh</button>
        </nz-button-group> -->
      </nz-col>
    </nz-row>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>